* {
  padding: 0;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px 50px;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  background-color: rgb(255, 174, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* font-family:Tangerine ; */
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;

}

.text-white {
  color: #ffffff;
}

h4 {
  background-color: white;
  border-radius: 10px;
  line-height: 40px;
  color: black;
  font-family: Trirong;
  font-size: 48px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 100px;
  width: 150px;
  height: 40px;
  border-radius: 3rem;
  background-color: blueviolet;
  color: white;
  font-size: 1.5rem;
}

h1 {
  font-size: 80px;
  font-family: Tangerine;
  color: #ffffff;
}

#sp {
  font-size: 80px;
  font-family: trirong;
  color: #ffffff;
}

.hero-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-top: 200px; */
}

.hero {
  background-image: url(./asset/im.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: calc(10rem, 7rem);
}

.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 150px;
  grid-gap: 100px;
}

.im-bio {
  margin-right: 600px;
}

.sss {
  margin-top: -250px;
}

.bio-cont {
  margin-right: ;
}

 {
  /* margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    g */
}

.serv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font: bolder;
  font-size: 48px;
  line-height: 57.6px;
  font-style: oblique;
}

.service-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 50px;
  column-gap: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.sp1 {
  border: 2px solid red;
  border-radius: 10px;
  background-color: azure;
}

.sp1:hover{
  color: white;
}

#ser {
  font-size: 25px;
  font-family: trirong;
  
}

p {
  font-size: Droid+Sans;
  font-size: ;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  background-color: #888888;
  width: 100%;
  height: 100%;
  font-family: trirong;
  font-size: ;
}

.text {
  color: black;
}

.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 10px 50px;
  background-color: aqua;
  height: 80px;
  width: 100%;
  color: white;
}

